.Weather{
  max-width: 600px;
  margin-top: 50px;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
}
.Weather li{
  list-style: none;
  color: #727070;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather ul{
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.Weather .WeatherTemp{
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
}

.Weather canvas{
  margin: 15px auto;
}

 input{
   outline: none;
 }
 input[type=search]{
   border-radius: 4px;
   border: 1.5px outset #b3b5b8;
   
 }
 input[type=search]:focus{
   border-style: inset;
 }

 input[type=submit]{
   float: right;
 }

 .WeatherForecast{
   text-align: center;
 }
 .WeatherForecast-temps{
   font-weight: 600;
 }
 
 .WeatherForecast-temps .text-muted{
   margin-left: 5px;
 }

 .weatherConstructs{
   display: flex;
   justify-content:flex-start;
 }

 .tempUnit{
   font-size: 16px;
   display: inline-block;
   vertical-align: middle;
   margin-bottom: 50px;
   margin-left: 5px;
 }

 .footer{
   text-align: center;
   margin-top: 10px;
 }